.scrollable-row{
    overflow: hidden;
    flex-wrap: nowrap !important;
  }
  .small-text {
    font-size: 0.8em !important;
  }
  .smaller-text {
    font-size: 0.6em !important;
  }
  .big-text {
    font-size: 1.2em;
  }